.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: center; /* Center the contents horizontally */
  align-items: flex-start;
  width: 80%; /* Adjust the width to add margin on the sides */
  padding: 20px;
  margin: 0 auto; /* Center the container */
  margin-top: 40px; /* Add top margin */
}

.chessboard-container, .eval-container {
  flex: 1;
  margin: 10px;
}

/* Optional: Adjust these styles to better fit your design */
.chessboard-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  margin-left: 50px; /* Increase left margin to move further from the edge */
}

.eval-container {
  overflow: auto;
  border: 1px solid #dee2e6;
  align-items: center;
  justify-content: center;
  height: 392px; /* Set a fixed height for the container */
}

.eval-container thead th {
  position: sticky;
  top: 0;
  background-clip: padding-box;
  z-index: 10;
}

.eval-bar {
  height: 30px;
  width: 0;
  background-color: white;
  text-align: center;
  line-height: 30px;
  color: white;
  font-weight: bold;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}



